* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5%;
  background-color: rgb(58, 58, 78);
  color: rgb(160, 252, 252);
  padding-left: 0;
}

.page-navigator {
  display: inline-flex;
  flex-direction: row;
  float: right;
  padding-top: 2rem;

}

.header-links {
  color: rgb(160, 252, 252);
}

h1 {
  display: inline-block;
  font-size: 4rem;
  color: rgb(58, 58, 78);
  background-color: rgb(160, 252, 252);
  padding: 1rem;
  padding-left: 5rem;
}

h3 {
  display: inline-block;
  font-size: 3rem;
  padding-right: 2rem;
  width: 10%;
  text-align: right;
}




/* h4,
h5 {
  font-size: 100%;
  color: rgb(58, 58, 78);
} */



/* h4 {
  margin: 5rem;
  padding: 5rem;
  margin-left: 5rem;
} */

h6 {
  max-width: fit-content;
  background: rgb(160, 252, 252);
  font-size: 250%;
  color: rgb(58, 58, 78);
}

.work-info {
  font-size: 1rem;
}

#work-img {
  border-style: solid;
  border-width: .5rem;
  border-color: rgb(160, 252, 252);
  margin: .75rem;
}

.contact-resources li {
  color: rgb(58, 58, 78);
}

.page-navigator ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 5rem;
  font-size: 150%;
}

.page-navigator ul li {
  padding-left: 1rem;
}

#image-subtitle {
  width: 100%;
  min-height: 200px;
}

.mountains {
  display: block;
  width: 100%;
}

.thumbnail {
  position: relative;
  display: inline-block;
}

.subtitle {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-25%, -50%);
  text-align: center;
  background-color: rgb(160, 252, 252);
  color: rgb(58, 58, 78);
  padding: .25rem;
  font-weight: bold;
  font-size: 3rem;
}

#image-subtitle .thumbnail .subtitle h2 {
  font-size: 3rem;
  width: 25rem;
}

/* .mountains {
  position: relative;
  display: inline-block;
  height: 17rem;
  width: 100%;
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  background-position: center;
} */

/* .subtitle h2 {
  position: absolute;
  left: 108rem;
  bottom: 5rem;
  width: 19rem;
  font-size: 200%;
  background-color: rgb(160, 252, 252);
  color:  rgb(58, 58, 78);
  padding:.5rem;
} */

/* #region ABOUT ME */
.about-me {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  /* justify-content: space-evenly; */
}

.autobio {
  display: flex;
}

.about-me-container {
  display: flex;
  padding-left: 1.5rem;
}

.about-me img {
  display: inline-block;
  width: 17%;
  border-radius: 50%;
  padding-left: 2rem;
}

.bio {
  display: inline-block;
  width: 70%;
  padding-top: .5%;
  padding-left: 1rem;
  font-size: 1.5rem;
  /* word-wrap: break-word; */
}

/* #endregion ABOUT ME */

.work {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  flex: 1 0 0;
  margin: 2rem;
  padding: 1rem;
  margin-left: 1rem;
}



.surf-subtitle {
  position: absolute;
  top: 145%;
  left: 18.9%;
  transform: translate(-25%, -50%);
  text-align: center;
  background-color: rgb(160, 252, 252);
  color: rgb(58, 58, 78);
  padding: .25rem;
  font-weight: bold;
  font-size: 3rem;
  width: 20%;
}

.led-subtitle {
  position: absolute;
  top: 172%;
  left: 18%;
  transform: translate(-25%, -50%);
  text-align: center;
  background-color: rgb(160, 252, 252);
  color: rgb(58, 58, 78);
  padding: .25rem;
  font-weight: bold;
  font-size: 3rem;
  width: 20%;
}

.js-subtitle {
  position: absolute;
  top: 172%;
  right: 30.2%;
  transform: translate(-25%, -50%);
  text-align: center;
  background-color: rgb(160, 252, 252);
  color: rgb(58, 58, 78);
  padding: .25rem;
  font-weight: bold;
  font-size: 3rem;
  width: 20%;
}

.pastel-subtitle {
  position: absolute;
  top: 193%;
  left: 19.5%;
  transform: translate(-25%, -50%);
  text-align: center;
  background-color: rgb(160, 252, 252);
  color: rgb(58, 58, 78);
  padding: .25rem;
  font-weight: bold;
  font-size: 3rem;
  width: 20%;
}

.run-subtitle {
  position: absolute;
  top: 193%;
  right: 29.5%;
  transform: translate(-25%, -50%);
  text-align: center;
  background-color: rgb(160, 252, 252);
  color: rgb(58, 58, 78);
  padding: .25rem;
  font-weight: bold;
  font-size: 3rem;
  width: 20%;
}

.contact-me {
  margin: 1rem;
  padding: 1rem;
  margin-left: 0rem;
  padding-left: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-me-title {
  width: 14.5%;
  padding-bottom: 1.5rem;
}

.contact-container {
  display: flex;
  /* padding-left: 1.5rem; */
  padding-right: 19rem;

}

.contact-resources ul li {
  display: inline-block;
  justify-content: space-evenly;
  padding: 2rem;
  padding-right: 2em;
  padding-left: 4rem;
  font-size: 1.5rem;
  color: rgb(58, 58, 78);
}

.contact-resources {
  margin: 2.5rem;
}

.contact-resources-container {
  padding-left: 5rem;
}

.divider {
  width: 1rem;
  background: rgb(58, 58, 78);
}

.divider-me {
  width: 2rem;
  background: rgb(58, 58, 78);
}


/* #about-me .about-me-container .divider {
  width: 1rem;
  background: rgb(58, 58, 78);
} */

/* .divider-work {
  width: 1rem;
  background: rgb(58, 58, 78);
} */

.led-img:hover {
  background-image: "./assets./images/ledWall2.jpg";
}

@media screen and (max-width: 1874px) {
  .surf-subtitle {
    position: absolute;
    top: 142%;
    left: 19.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 170%;
    left: 18.4%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 170%;
    right: 29.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 190%;
    left: 20.1%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 190%;
    right: 28.8%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }
}


@media screen and (max-width: 1825px) {
  .surf-subtitle {
    position: absolute;
    top: 138%;
    left: 19.5%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 166%;
    left: 18.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 166%;
    right: 29.05%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 187%;
    left: 20.4%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 187%;
    right: 28.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }
}

@media screen and (max-width: 1782px) {
  .surf-subtitle {
    position: absolute;
    top: 135%;
    left: 19.7%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 163%;
    left: 18.75%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 163%;
    right: 28.8%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 183%;
    left: 20.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.75rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 183%;
    right: 28%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }
}

@media screen and (max-width: 1732px) {
  .surf-subtitle {
    position: absolute;
    top: 132%;
    left: 20%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 159%;
    left: 19.1%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 159%;
    right: 28.1%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 179%;
    left: 20.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.75rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 179%;
    right: 27.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }
}

@media screen and (max-width: 1680px) {
  .surf-subtitle {
    position: absolute;
    top: 128%;
    left: 20.3%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 154%;
    left: 19.3%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 154%;
    right: 27.4%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 175%;
    left: 20.8%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.75rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 175%;
    right: 26.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }
}

@media screen and (max-width: 1618px) {
  .surf-subtitle {
    position: absolute;
    top: 125%;
    left: 20.7%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 150%;
    left: 19.7%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 150%;
    right: 26.8%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 171%;
    left: 21.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.75rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 171%;
    right: 25.7%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 3rem;
    width: 20%;
  }
}





@media screen and (max-width: 1530px) {
  h3 {
    font-size: 2rem;
  }

  .about-me-container {
    padding-left: 2.2rem;
  }

  .subtitle {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .surf-subtitle {
    position: absolute;
    top: 120%;
    left: 20.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 145%;
    left: 19.7%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 145%;
    right: 28.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 165%;
    left: 21.5%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 165%;
    right: 27.8%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .contact-container {
    padding-right: 8.5rem;
  }


}

@media screen and (max-width: 1468px) {
  h3 {
    font-size: 2rem;
  }

  .about-me-container {
    padding-left: 2.2rem;
  }

  .subtitle {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .surf-subtitle {
    position: absolute;
    top: 115.5%;
    left: 21%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 140%;
    left: 20.1%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 140%;
    right: 26.5%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 160%;
    left: 22%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 160%;
    right: 26.9%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .contact-container {
    padding-right: 8.5rem;
  }


}

@media screen and (max-width: 1400px) {
  h3 {
    font-size: 2rem;
  }

  .about-me-container {
    padding-left: 2.2rem;
  }

  .subtitle {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .surf-subtitle {
    position: absolute;
    top: 112%;
    left: 21.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 136%;
    left: 20.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 136%;
    right: 26.7%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 156%;
    left: 22%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.25rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 156%;
    right: 25.9%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .contact-container {
    padding-right: 8.5rem;
  }


}

@media screen and (max-width: 1335px) {
  h3 {
    font-size: 2rem;
  }

  .about-me-container {
    padding-left: 2.2rem;
  }

  .subtitle {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .surf-subtitle {
    position: absolute;
    top: 108%;
    left: 22.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 132%;
    left: 21.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 132%;
    right: 24.4%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 152%;
    left: 22.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.25rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 152%;
    right: 24.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .contact-container {
    padding-right: 8.5rem;
  }


}

@media screen and (max-width: 1280px) {
  h3 {
    font-size: 2rem;
  }

  .about-me-container {
    padding-left: 2.2rem;
  }

  .subtitle {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .surf-subtitle {
    position: absolute;
    top: 105%;
    left: 22.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 128%;
    left: 21.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 128%;
    right: 24.8%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 148%;
    left: 23.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.25rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 148%;
    right: 23.7%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2.5rem;
    width: 20%;
  }

  .contact-container {
    padding-right: 8.5rem;
  }
}

@media screen and (max-width:1200px) {
  h3 {
    font-size: 2rem;
  }

  .about-me-container {
    padding-left: 2.2rem;
  }

  .subtitle {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .surf-subtitle {
    position: absolute;
    top: 100%;
    left: 22.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
    width: 20%;
  }

  .led-subtitle {
    position: absolute;
    top: 123%;
    left: 21.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
    width: 20%;
  }

  .js-subtitle {
    position: absolute;
    top: 123%;
    right: 26.8%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
    width: 20%;
  }

  .pastel-subtitle {
    position: absolute;
    top: 143%;
    left: 23.6%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
    width: 20%;
  }

  .run-subtitle {
    position: absolute;
    top: 143%;
    right: 26.2%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
    width: 20%;
  }

  .contact-container {
    padding-right: 8.5rem;
  }
}
/* @media screen and (max-width: 1530px) {
  .subtitle {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-25%, -50%);
    text-align: center;
    background-color: rgb(160, 252, 252);
    color: rgb(58, 58, 78);
    padding: .25rem;
    font-weight: bold;
    font-size: 2rem;
  }
} */