header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5%;
  background-color: rgb(58, 58, 78);
  color: rgb(160, 252, 252);
}

h1 {
  position: relative;
  right: 35px;
  font-size: 300%;
  color: rgb(58, 58, 78);
  background-color: rgb(160, 252, 252);
  padding-left: 50px;  
}

h3, h4, h5 {
  font-size: 300%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 450px;
  margin-right: 35px;
  font-size: 150%;
}

.mountains {
  position: relative;
  display: inline-block;
  height: 225px;
  width: 100%;
  margin-bottom: 0;
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  background-position: center;
}

.subtitle h2 {
  position: relative;
  left: 1400px;
  bottom: 70px;
  font-size: 200%;
  background-color: rgb(160, 252, 252);
  color:  rgb(58, 58, 78);
}

.aboutMe {
  margin: 25px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.contactMe {
  margin: 25px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

